.authentication__header {
  color: white;
  text-align: center;
}

.card.authentication {
  width: 90%;
  max-width: 25rem;
  margin: 7rem auto;
  text-align: center;
  padding: 2rem;
}

.authentication form {
  margin-bottom: 1rem;
}